<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href ="/mongoDBoperation" > perform Mongo DB Operation</a><br>
    <a href="/sqlDBoperation">perform SQL DB Operation</a>

  </body>
</html>
