<!DOCTYPE>
<html>
<head>
<title>User Info</title>

</head>
<h1>USER INFO:</h1><br>
<%=respData %>
<table style=" width: 30%">
        
        <% for(var itr=0;itr<respData.length;itr++)  { %>
        
        <tr>
            <td>userName:</td>
            <td>
               <%= respData[itr].userName %> 
            </td>
        </tr>
        <tr>
            <td>First Name:</td>
            <td>
                    <%= respData[itr].firstName %>
            </td>
        </tr>
        <tr>
            <td>last Name:</td>
            <td>
                    <%= respData[itr].lastName %>
            </td>
        </tr>
       <% } %>
      

    </table>


</html>